<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118648335-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-118648335-1');
  </script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Friends of Ravenna-Cowen</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ "friendsofravennacowen.org/vendor/bootstrap/css/bootstrap.min.css" | relURL }}" rel="stylesheet">

  <!-- Map container CSS -->
  <link href="{{ "friendsofravennacowen.org/vendor/bootstrap/css/map-container.css" | relURL }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{ "friendsofravennacowen.org/vendor/font-awesome/css/font-awesome.min.css" | relURL }}" rel="stylesheet" type="text/css">
  <link href="{{ "https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" | relURL }}" rel="stylesheet"
    type="text/css">
  <link href="{{ "https://fonts.googleapis.com/css?family=Cabin:700" | relURL }}" rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ "friendsofravennacowen.org/css/grayscale.css" | relURL }}" rel="stylesheet">

  <!-- Custom font kit for Dyer Arts & Crafts -->
  <link rel="stylesheet" href="{{ "friendsofravennacowen.org/css/font_stylesheet.css" | relURL }}" type="text/css" charset="utf-8" />

  <!-- favicon code -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "friendsofravennacowen.org/apple-touch-icon.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "friendsofravennacowen.org/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "friendsofravennacowen.org/favicon-16x16.png" | relURL }}">
  <link rel="manifest" href="{{ "friendsofravennacowen.org/site.webmanifest" | relURL }}">
  <link rel="mask-icon" href="{{ "friendsofravennacowen.org/safari-pinned-tab.svg" | relURL }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a href="#" class="navbar-left"><img src="{{ "friendsofravennacowen.org/img/forc_logo_80.png" | relURL }}"></a>
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#maps">Interactive Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#news">News and Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#donate">Donate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#future">Future Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Intro Header -->
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="brand-heading">Friends of Ravenna-Cowen</h2>
            <p class="intro-text">Friends of Ravenna-Cowen is a 501(c)(3) non-profit that worked to obtain National
              Historic District (NHD) designation for Ravenna-Cowen. Our neighborhood is intact and is rich in history.
              The NHD designation will preserve and protect the heritage of the Ravenna-Cowen neighborhood as a shared
              community resource for all. This designation strengthens the neighborhood character, giving it an identity
              and recognition on a national level. Scroll down to read more about the National Historic District
              designation.</p>
            <br>
            <br>
            <a href="#designation" class="btn btn-circle js-scroll-trigger">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- National Historic District Designation -->
  <section id="designation" class="content-section text-center">
    <div class="container">
      <div class="col-lg-8 mx-auto">
        <h2>National Historic District Designation</h2>
        <p>On September 13, 2018 the Ravenna-Cowen North Historic District was listed in the National Historic Register
          of Historic Places, where it joins other districts which contribute to the rich cultural heritage of
          Washington State. You can download many documents about the national historic designation below and read more
          about the history of the Ravenna and Cowen neighborhoods.</p>

        <a href="{{ "friendsofravennacowen.org/downloads/RCN_NHD_certificate.pdf" | relURL }}" class="btn btn-default btn-lg"
          target="_blank">Download Certificate</a>

        <br>
        <br>

        <a href="{{ "friendsofravennacowen.org/downloads/RCN NHD letter.pdf" | relURL }}" class="btn btn-default btn-lg"
          target="_blank">Download <br> Designation Letter</a>

        <br>
        <br>

        <a href="{{ "friendsofravennacowen.org/downloads/FORC_DAHP_application_all.pdf" | relURL }}"
          class="btn btn-default btn-lg" target="_blank">Download National <br> Historic Survey</a>

        <br>
        <br>

        <a href="{{ "friendsofravennacowen.org/downloads/FORC_all_maps.pdf" | relURL }}" class="btn btn-default btn-lg"
          target="_blank">Download Static Maps</a>

        <br>
        <br>

        <a href="{{ "friendsofravennacowen.org/downloads/5_National Register FAQs.pdf" | relURL }}"
          class="btn btn-default btn-lg" target="_blank">Download Historic <br> District FAQs</a>

      </div>
    </div>
  </section>

  <!-- History Section -->
  <section id="history" class="content-section text-center">
    <div class="container">
      <div class="col-lg-8 mx-auto">

        <h2>The History of Ravenna and Cowen Neighborhoods</h2>

        <p>Properties in this area gained value in the mid-1880s when the Seattle, Lake Shore & Eastern Railroad was
          extended from Seattle up the western shore of Lake Washington. Ravenna became a stop on the new railroad.</p>

        <p>William W. Beck, a Presbyterian minister from Kentucky, and his wife Louise purchased 400 acres on Union Bay.
          They developed the property around Ravenna station into town lots. Ten acres were set aside for the Seattle
          Female College. This later became the University of Washington. The Becks fenced the ravine between what would
          become 15th Avenue NE and 20th Avenue NE and opened Ravenna Park. Ravenna Park became a popular destination
          for Seattle residents, who were willing to pay 25 cents apiece to visit it. Annual passes were $5.</p>

        <p>In the early 1900s, Seattle city engineers diverted Ravenna Creek from Green Lake into a sewer that
          discharged into Union Bay. Ravenna Boulevard was constructed between Green Lake and Ravenna Park along the
          stream, following a recommendation in the Olmsted Plan of 1903.</p>

        <p>Ravenna was incorporated as a town in 1906 and annexed to the City in 1907. The boundaries were 15th Avenue
          NE on the west, NE 55th Street on the south, 30th Avenue NE on the east, and NE 65th Street on the north,
          except for an extension to NE 85th street between 15th Avenue NE and 20th Avenue NE. Developer Charles Cowen
          acquired the upper end of the Ravenna ravine, west of 15th Avenue NE, in 1906. He set aside eight acres for
          Cowen Park. When Theodore Roosevelt died in 1919, citizens showered the city with his memory. The new high
          school was built in 1922 and bore his name. 10th Avenue NE became Roosevelt Way NE, and the area between
          Ravenna Boulevard and Lake City Way NE became the Roosevelt District.</p>

        <p>In the 1920s, a thriving commercial district sprung up along Roosevelt Way NE as the automobile transformed
          America. On January 1, 1928, Sears, Roebuck & Co. opened its North Seattle store at NE 65th Street. The store
          closed in January 1980, and the building was turned into Roosevelt Square shopping arcade.</p>

        <p>Ravenna was the scene of several projects by the Works Progress Administration (WPA) during the 1930s. In
          1936 the WPA built the Cowen Park Bridge, an art-deco style bridge over Ravenna Creek. The Cowen Park Bridge
          and the 20th Avenue NE Bridge (built in 1913) are both Seattle landmarks in the Ravenna and Cowen
          neighborhoods.</p>

        <p>Ravenna neighbors have a long history of activism. In 1948, the community battled the city engineer over
          efforts to divert Ravenna Creek into sewers. In 1983, protests against the state Department of Agriculture’s
          spraying of the pesticide carbaryl to combat an infestation of gypsy moths resulted in a switch to a different
          compound. In 1991, the community again blocked a city plan to dig up the park for a new sewer.</p>

        <p>The Ravenna and Cowen neighborhoods are filled with historically significant architecture. Many styles are
          well represented but several architectural historians consider Ravenna and Cowen to be some of Seattle’s best
          early twentieth century bungalow neighborhoods, worthy of historical distinction and preservation efforts.
        </p>

        <p>Click the link below to download a PDF with examples of the bungalow residences that have been noted for
          their historical architectural character:</p>

        <a href="{{ "friendsofravennacowen.org/downloads/neighborhood_history.pdf" | relURL }}" class="btn btn-default btn-lg"
          target="_blank">Download History</a>

      </div>
    </div>
  </section>

  <!-- Interactive Map -->
  <section id="maps" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Interactive Map</h2>
          <p>This is an interactive map of every home in Ravenna-Cowen that was surveyed as part of the application for
            national historic designation. Click on any parcel inside the black district boundary to see the address,
            year built, and a link to a PDF document with many more details. Use the search window in the upper right to
            find a specific address.</p>
        </div>
      </div>
    </div>
    <div class="map-container">
      <iframe src="{{ "friendsofravennacowen.org/forc_map_v1.html" | relURL }}" height="400" width="800" allowfullscreen=""
        frameborder="0">
      </iframe>
    </div>
  </section>

  <!-- About Us Section -->
  <section id="aboutus" class="aboutus-section content-section text-center">
    <div class="container">
      <div class="col-lg-8 mx-auto">

        <h2>About the Friends of Ravenna-Cowen</h2>
        <p>Friends of Ravenna-Cowen is a 501(c)(3) non-profit corporation that was organized to celebrate and raise
          awareness of the neighborhoods to the north and west of Ravenna and Cowen parks. It is bordered by Ravenna
          Boulevard and 12th Ave NE on the west, 24th Ave NE on the east, NE 65th St on the north, and the Ravenna Park
          ravine on the south. This area includes many examples of historically significant architecture, numerous
          heritage trees, and the incomparable public resources of Ravenna and Cowen Parks.</p>

        <p>Our neighborhood is architecturally intact and represents a fascinating period in the development of the City
          of Seattle. Ravenna's architectural resources highlight a period of rapid growth in the early 20th century,
          encompassing the history of Ravenna and Cowen Parks; the Olmsted legacy; the streetcar era; development of the
          University of Washington’s environs (along with the 1909 Alaska Yukon Pacific Exposition); and the rise of a
          “bungalow” style that provided homes for working families and university staff.</p>

        <p>Historic properties that are demolished or whose architectural integrity has been sufficiently altered are
          irreversibly and irretrievably lost. In the face of rapid redevelopment in our city, we are turning our
          activism toward protecting the fragile historic character that enlivens our community.</p>

        <h2>Mission Statement</h2>
        <p>Mission Statement as described in the Articles of Incorporation for Friends of Ravenna Cowen: “To preserve
          and protect the history and natural environment of the Ravenna-Cowen neighborhood as a shared community
          resource for all, and to support other like-minded neighborhood and not-for-profit groups.”
        </p>

      </div>
    </div>
  </section>

  <!-- Board Bios Section -->
  <section id="boardbios" class="content-section text-center">
    <div class="container">
      <div class="col-lg-8 mx-auto">
        <h2>Board Biographies</h2>

        {{ range where .Site.RegularPages "Type" "board_members" }}
        <h4>{{ .Params.name }} – {{ .Params.role }}</h4>
        {{ .Content }}
        {{ end }}
      </div>
    </div>
  </section>

  <!-- News Section -->
  <section id="news" class="news-section content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>News and Events</h2>

        <h4>Walking Tour #4</h4>
        <p>
            We held our fourth walking tour on Saturday, October 7, 2023. This tour
            focused on the Ravenna Park, the beautiful park that is adjacent to and
            south of the District. Larry Johnson led one of two groups for the
            walking tour. He was assisted by board member Lani Johnson, as well as
            volunteer Dante Moreno. Board member Francesca Renouard and her husband
            Steven Pool led the second group, assisted by Dr. Lewis Johnson.
            Research on the park's history took several months and revealed the
            location and fate of the once majestic three hundred feet tall fir trees
            that were found within the park. Master Birder and naturalist Wood
            Wheeler also gave a presentation on the park's natural history.
          </p>
          <div class="row">
              <div class="col-lg-3"> </div>
            <div class="col-lg-6">
              <img src="{{ "friendsofravennacowen.org/img/walk_4_pic_1.jpg" | relURL }}" style="max-width: 100%; margin: 10px;"></img>
            </div>
            <div class="col-lg-3"> </div>
          </div>
          <p></p>

        <p><a href="{{ "friendsofravennacowen.org/downloads/FORC_Walking_Tour_4.pdf" | relURL }}" class="btn btn-default btn-lg" target="_blank">Download Walking Tour 4</a></p>

          <h4>Walking Tour #3</h4>
          <p>
            On Saturday, June 24, FORC hosted the third of our walks through the Historic District. This
            walking tour covered the easternmost section of the District encompassing the University Place
            and College plats and portions of the Wade, Wasson, Alder Park, and Ravenna Springs Parks
            plats, ending up at the Ravenna Commercial District.
          </p>

          <p><a href="{{ "friendsofravennacowen.org/downloads/FORC_Walking_Tour_3.pdf" | relURL }}" class="btn btn-default btn-lg" target="_blank">Download Walking Tour 3</a></p>
        
          <h4>Walking Tour #2—University Scenic Plat</h4>
          <p>
            On May 6, 2023, FORC hosted our second historical interest walk through the central section of
            the Historic District. About 60 neighbors participated with FORC president, Larry E. Johnson,
            AIA, leading the group and pointing out points of interest along the way.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <img src="{{ "friendsofravennacowen.org/img/walk_2_pic_1.jpg" | relURL }}" style="max-width: 100%; margin: 10px;"></img>
            </div>
            <div class="col-lg-6">
              <img src="{{ "friendsofravennacowen.org/img/walk_2_pic_2.jpg" | relURL }}" style="max-width: 100%; margin: 10px;"></img>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <img src="{{ "friendsofravennacowen.org/img/walk_2_pic_3.jpg" | relURL }}" style="max-width: 100%; margin: 10px;"></img>
            </div>
            <div class="col-lg-6">
              <img src="{{ "friendsofravennacowen.org/img/walk_2_pic_4.jpg" | relURL }}" style="max-width: 100%; margin: 10px;"></img>
            </div>
          </div>
          <p>
            You can download Walk #2 <a href="{{ "friendsofravennacowen.org/downloads/FORC_Walking_Tour_2.pdf" | relURL }}" target="_blank">here</a> and take a self-guided tour too. This one covers the middle
            portion of the Ravenna-Cowen North National Historic District, east of 15th Avenue NE and
            extending to 20 th Avenue NE.
          </p>
          <p><a href="{{ "friendsofravennacowen.org/downloads/FORC_Walking_Tour_2.pdf" | relURL }}" class="btn btn-default btn-lg" target="_blank">Download Walking Tour 2</a></p>

          <h4>Celebration for our Historic Ravenna-Cowen Neighborhood</h4>
          <p>
            On October 1, 2022, FORC hosted a celebration of the Ravenna-Cowen Historic District in Cowen Park. Over 50
            neighbors and 3 local politicians joined in the event.
          </p>
          <p>
            FORC Board President Larry Johnson described the mission of the organization and lead a tour of Cowen Park
            and the Cowen University Park Platt (east and north of Cowen Park). He highlighted 12 unique, historical
            features of this area. The event was a great success with many people asking when we will host another tour!
          </p>
          <p>
            Darya Farivar and Dr. Lelach Rave who are running to represent Legislative District 46 in Seattle gave brief
            remarks on their platform. State Senator Javier Valdez joined on the tour as well.
          </p>
          <!-- <div style="display: flex; margin-top: 10px; margin-bottom: 30px;">
              <img src="{{ "img/walk_1_pic_1.jpg" | relURL }}" width="400" style="margin: 10px;"></img>
              <img src="{{ "friendsofravennacowen.org/img/walk_1_pic_2.jpg" | relURL }}" width="400" style="margin: 10px;"></img>
            </div> -->
          <div class="row">
            <div class="col-lg-6">
              <img src="{{ "friendsofravennacowen.org/img/walk_1_pic_1.jpg" | relURL }}" style="max-width: 100%; margin: 10px;"></img>
            </div>
            <div class="col-lg-6">
              <img src="{{ "friendsofravennacowen.org/img/walk_1_pic_2.jpg" | relURL }}" style="max-width: 100%; margin: 10px;"></img>
            </div>
          </div>

          <h4>Walking Tour #1—Cowen Park & Cowen’s University Park Plat</h4>
          <p>
            You can download Walk 1 <a href="{{ "friendsofravennacowen.org/downloads/FORC_Walking_Tour_1.pdf" | relURL }}" target="_blank">here</a> and take a
            self-guided tour too. This one covers only the western portion of the Ravenna-Cowen North National Historic
            District, west of 15th Avenue NE. There’s still much more to see in this section—the tour highlights a few
            points of interest that you might enjoy seeing.
          </p>
          <p><a href="{{ "friendsofravennacowen.org/downloads/FORC_Walking_Tour_1.pdf" | relURL }}" class="btn btn-default btn-lg" target="_blank">Download Walking
              Tour 1</a></p>

          
          <h4>National Historic District Street Signs</h4>
          <p>
            In late 2018, FORC applied for a City of Seattle Small Sparks grant from the Department of Neighborhoods
            (DON) to install Historic District street signs. The application was approved in 2019, and the Seattle
            Department of Transportation (SDOT) installed the signs in February 2020. The signs were paid for by a
            combination of volunteer time spent by FORC volunteers and matching funds from the Small Sparks grant. The
            signs are official brown (denoting historic significance) and are mounted on street poles or light poles at
            12 approved locations that will help identify the Ravenna-Cowen North National Historic District.
          </p>
          <p><img src="{{ "friendsofravennacowen.org/img/street_signs.png" | relURL }}" width="400"></img></p>
        </div>
      </div>
    </div>
    <br>
  </section>

  <!-- Donate Section -->
  <section id="donate" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Donate to Friends of Ravenna-Cowen</h2>
          <p>
            Thank you for considering a donation to the Friends of Ravenna-Cowen (FORC). We are an all-volunteer,
            charitable 501(c)(3) organization (Tax ID #82-2731235). Your donation is 100% tax-deductible. Please
            consider asking your employer if they match donations.
          </p>

          <form action="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EAH7K354SSV6S&source=url"
            method="post" target="_top">

            <input type="hidden" name="cmd" value="_s-xclick" />

            <input type="hidden" name="hosted_button_id" value="EAH7K354SSV6S" />

            <input type="image" src="{{ "friendsofravennacowen.org/https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" | relURL }}" border="0"
              name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />

            <img alt="" border="0" src="{{ "friendsofravennacowen.org/https://www.paypal.com/en_US/i/scr/pixel.gif" | relURL }}" width="1" height="1" />

          </form>

          <br>
          <p>You can also mail a check to:<br>
            <br>
            Friends of Ravenna-Cowen<br>
            1037 NE 65th St., #105<br>
            Seattle, WA 98115<br>

          <p>
            Your donations to date have funded the development of this website for public use. This site includes an
            interactive database where you can look up your home and read the relevant historical information that we
            gathered so far while researching 443 properties in the Ravenna-Cowen Historic District.
          </p>
          <p>
            Our next project is to build the capacity for you to add family historical files to the database. We know
            that many of you have stories and pictures about your home. Together we will build a repository of
            information that can be shared with future generations and that will keep the history of the Ravenna-Cowen
            neighborhoods alive. The approximate cost to further develop the interactive database is $10,000. We’ll need
            more volunteers too.
          </p>

        </div>
      </div>
    </div>
  </section>

  <!-- Future Projects Section -->
  <section id="future" class="future-section content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Future Projects</h2>
          <p>We’re developing ideas for other future projects, which might include additional signage and/or
            interpretive materials, development of historic overlay to help retain neighborhood historic integrity,
            historic neighborhood/house tours, workshops on topics helpful for homeowners, research workshops, and
            educational collaborations. We would love to hear your ideas for future projects. Our contact information is
            below.</p>

        </div>
      </div>
    </div>
    <br>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="contactus-section content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contact Friends of Ravenna-Cowen</h2>
          <p><b>Friends of Ravenna-Cowen</b>
            <br>1037 NE 65th St., #105
            <br>Seattle, WA 98115
          <p>
          <p>Feel free to reach out to us via email at <a href="mailto:info@friendsofravennacowen.org"
              target="_blank">info@friendsofravennacowen.org</a> or by clicking on the button below.</p>
          <ul class="list-inline banner-social-buttons">
            
            <li class="list-inline-item">
              <a href="mailto:info@friendsofravennacowen.org" class="btn btn-default btn-lg">
                
                <span class="network-name">email</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; Friends of Ravenna-Cowen 2022</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ "friendsofravennacowen.org/vendor/jquery/jquery.min.js" | relURL }}"></script>
  <script src="{{ "friendsofravennacowen.org/vendor/bootstrap/js/bootstrap.bundle.min.js" | relURL }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ "friendsofravennacowen.org/vendor/jquery-easing/jquery.easing.min.js" | relURL }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ "friendsofravennacowen.org/js/grayscale.min.js" | relURL }}"></script>

</body>

</html>